<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidfitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFitnessApp">
        <activity android:name=".SchedulePage"></activity>
        <activity
            android:name=".AccountPage"
            android:label="@string/title_activity_account_page"
            android:theme="@style/Theme.AndroidFitnessApp.NoActionBar" />
        <activity android:name=".LegsPage" />
        <activity android:name=".ArmsPage" />
        <activity android:name=".ChestPage" />
        <activity android:name=".AbsPage" />
        <activity
            android:name=".LandingPage"
            android:label="@string/title_activity_landing_page"
            android:theme="@style/Theme.AndroidFitnessApp.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>